/* ====Major fixes section starts here==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ====Major fixes section ends here==== */

body {
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

main {
  background: url(./img/dark-monochrome.jpg);
}

header {
  width: 100%;
}
/* ====Major fixes section ends here==== */

.nav-desktop {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.desktop-logo {
  position: absolute;
  left: 60px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 25px;
}
.desktoplink-container ul {
  list-style: none;
  display: flex;
}

.desktoplink-container ul li {
  padding: 15px 20px;
  border: 2px solid transparent;
  /* color: var(--white-color); */
}

.desktoplink-container ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--white-color);
}
.desktoplink-container li:hover {
  border: 2px solid var(--white-color);
}

.desktoplink-container {
  display: flex;
  align-items: center;
}
/* ====header section ends here==== */

.nav-mobile {
  border: 3px solid var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background: var(--main-color);
  display: none;
}

.nav-brand {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--white-color);
}

nav-brand span {
  font-weight: bolder;
  margin-left: 10px;
}

.hamburger-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  z-index: 100;
}

/* ======= */
.menu {
  width: 100%;
  background: var(--white-color);
  height: 3px;
  position: relative;
}

.menu::before {
  content: "";
  background: var(--white-color);
  width: 100%;
  height: 3px;
  position: absolute;
  transform: translateY(-10px);
}
.menu::after {
  content: "";
  background: var(--white-color);
  width: 100%;
  height: 3px;
  position: absolute;
  transform: translateY(10px);
}

.showburger .menu {
  background: transparent;
}

.showburger .menu::before {
  transform: rotate(45deg);
  background: var(--white-color);
}

.showburger .menu::after {
  transform: rotate(-45deg);
  background: var(--white-color);
}
/* ======== */

.mobile-links-container {
  /* display: none; */
  transition: all 0.4s ease;
  transform: translateX(102%);
  width: 100%;
  height: 10%;
  background: var(--main-color);
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 55px;
  z-index: 3;
}

.showmobilelink {
  transform: translateX(0);
  /* display: block; */
}

.mobile-links-content ul {
  list-style: none;
  background-color: tomato;
}

.mobile-links-content a {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  padding: 25px 20px;
}
.mobile-links-content a:hover {
  background: var(--white-color);
  color: var(--main-color);
}

.mobile-links-content button {
  margin: 0 0 0 20px;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  background: transparent;
}

.mobile-links-content .active-link {
  background: var(--white-color);
  color: var(--main-color);
}
/* ====header banner section starts here==== */

.contana{
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}
.header-banner-section {
  background: url(./img);
  background-size: cover;
  margin-left: 62%;
  width: 38%;
  padding-left: 20px;
}

.banner-content-container {
  padding-top: 10px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.banner-content-container p {
  color: #adadad;
  margin: 20px 0;
  line-height: 1.7;
  font-size: 18px;
}

.banner-text-container {
  width: 50%;
  height: 100%;
}

.banner-text-container h2 {
  font-size: 25px;
  color: var(--white-color);
  padding-bottom: 20px;
}

.btn-s{
  background: var(--main-color);
  color: var(--white-color);
  border: 2px solid var(--main-color);
  padding: 10px 20px;
  border-radius: 20px;
}

.btn-s:hover{
  background: var(--white-color);
  color: var(--main-color);
  border-radius: 40px;
  transition: all ease 1s;
  padding: 10px 25px;
  border: 2px dashed #64485c;
}

.mobile-botton-2 {
  margin: 0 0 0 10px;
}

.banner-icons {
  margin: 0 0 0 10px;
}
/* ====header banner section ends here==== */
.card-con-hol{
  padding-top: 55px;
}


.explore-food-section {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 35px;
  border-left: 13px solid #adadad;
  border-right: 13px solid #adadad;
}

.food-card-container {
  display: flex;
  justify-content: space-evenly;
}

.food-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.food-img-container {
  width: 100%;
  height: 250px;
}

.food-img-container h1{
  padding-top: 20px;
  padding-bottom: 25px;
}
.boton{
  background: var(--white-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 10px 20px;
  border-radius: 20px;
}

.boton:hover{
  background: transparent;
  color: var(--white-color);
  border: 2px dashed whitesmoke;
  padding: 10px 25px;
  transition: all 1.3s ease;
}

.food-card-item {
  width: 320px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: var(--white-color);
  text-align: left;
  padding: 0 20px;
}

.food-text-container p {
  margin: 8px 0;
}

.food-text-container h5 {
  font-size: 18px;
  margin: 0 0 8px 0;
  border-bottom: 0.5px solid var(--light-text-color);
  padding-bottom: 10px;
}
.food-text-container h5 span {
  text-decoration: line-through;
  color: var(--text-color);
}
/* <!-- wave Explore food section ends here --> */

/* explore con starts here */

.explore-con{
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 20px 25px;
  background-color: rgba(0, 0, 0, 0.6);
}

.explore-con h2{
  font-size: 20px;
  color: var(--white-color);
}
/* explore con ends here */

/* <!-- Footer section ends here --> */
footer {
  align-items: center;
  padding: 0px 30px;
  justify-content: space-between;
  display: flex;
  color: var(--white-color);
  background: url(./img/dark-monochrome.jpg);
  background-size: cover;
}

.footer-icon-container {
  width: 150px;
  height: 50px;
  display: flex;
  /* justify-content: space-evenly; */
}

.footer-icons {
  align-items: center;
  height: 40px;
  font-size: 18px;
  justify-content: center;
  display: flex;
  width: 40px;
  border-radius: 50%;
}

.footer-icons:hover {
  border: 2px solid whitesmoke;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 25px;
  transition: all 0.9s ease;
}

.footer-icon-container a {
  text-decoration: none;
  color: var(--white-color);
}
/* <!-- Footer section ends here --> */
